.header{
    height: 1000px;
    background-color: #fffbf0;
}
.navbar-logo{
    height: 50px;
    margin: 50px 0px 0px 150px ;
}
.navbar-balls{
    height: 80px;
    margin-left: 40px;
}
.navbar-link{
    margin: 50px 0px 0px 300px ;
}
.navbar-link ul li a{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.header-ad-text{
    margin-top: 20%;
}
.header-ad-text h1{
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    color: #FABE4C;
}
.color-navy-blue{
    color: #363958;
    display: block;
}
.header-info{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.header-ad-image{
    width: 100%;
}